Test/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51596/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51596/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51596/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51596/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAddressCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAddressCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactsCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContactsCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInterventions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterventions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInterventions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInterventionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocalizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalizations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocalizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotives_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotives" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotives_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotivesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNomEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNomEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNomEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNomEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDevicesNoAffiliation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesNoAffiliation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDevicesNoAffiliation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesNoAffiliationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeesActive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesActive" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeesActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeesInactives_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesInactives" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeesInactives_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesInactivesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetAddressCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAddressCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_SetAddressCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAddressCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDevice" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_SetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetIntervention_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIntervention" />
  </wsdl:message>
  <wsdl:message name="IService1_SetIntervention_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInterventionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLocalization_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLocalization" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLocalization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLocalizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetMotive_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMotive" />
  </wsdl:message>
  <wsdl:message name="IService1_SetMotive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMotiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRole_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRole" />
  </wsdl:message>
  <wsdl:message name="IService1_SetRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyDevice" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyAddressCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAddressCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyAddressCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAddressCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyContactCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContactCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyContactCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyContactCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyIntervention_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyIntervention" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyIntervention_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyInterventionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyLocalization_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLocalization" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyLocalization_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLocalizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyMotive_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMotive" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyMotive_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMotiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyRole_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRole" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmploye_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmploye" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmploye_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDevice" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAddressCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAddressCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAddressCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAddressCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContactCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContactCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMotive_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotive" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMotive_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlanning_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanning" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlanning_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanningResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAddressCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAddressCustomers" message="tns:IService1_GetAddressCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAddressCustomersResponse" message="tns:IService1_GetAddressCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactsCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContactsCustomers" message="tns:IService1_GetContactsCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContactsCustomersResponse" message="tns:IService1_GetContactsCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCustomers" message="tns:IService1_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCustomersResponse" message="tns:IService1_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDevices" message="tns:IService1_GetDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDevicesResponse" message="tns:IService1_GetDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployees" message="tns:IService1_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesResponse" message="tns:IService1_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInterventions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInterventions" message="tns:IService1_GetInterventions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInterventionsResponse" message="tns:IService1_GetInterventions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLocalizations" message="tns:IService1_GetLocalizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLocalizationsResponse" message="tns:IService1_GetLocalizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotives">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMotives" message="tns:IService1_GetMotives_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMotivesResponse" message="tns:IService1_GetMotives_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRoles" message="tns:IService1_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRolesResponse" message="tns:IService1_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNomEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNomEmployees" message="tns:IService1_GetNomEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNomEmployeesResponse" message="tns:IService1_GetNomEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevicesNoAffiliation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDevicesNoAffiliation" message="tns:IService1_GetDevicesNoAffiliation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDevicesNoAffiliationResponse" message="tns:IService1_GetDevicesNoAffiliation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeesActive" message="tns:IService1_GetEmployeesActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesActiveResponse" message="tns:IService1_GetEmployeesActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesInactives">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeesInactives" message="tns:IService1_GetEmployeesInactives_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesInactivesResponse" message="tns:IService1_GetEmployeesInactives_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAddressCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetAddressCustomer" message="tns:IService1_SetAddressCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetAddressCustomerResponse" message="tns:IService1_SetAddressCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCustomer" message="tns:IService1_SetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCustomerResponse" message="tns:IService1_SetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetDevice" message="tns:IService1_SetDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetDeviceResponse" message="tns:IService1_SetDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetEmployee" message="tns:IService1_SetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetEmployeeResponse" message="tns:IService1_SetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIntervention">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetIntervention" message="tns:IService1_SetIntervention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetInterventionResponse" message="tns:IService1_SetIntervention_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLocalization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetLocalization" message="tns:IService1_SetLocalization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetLocalizationResponse" message="tns:IService1_SetLocalization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMotive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetMotive" message="tns:IService1_SetMotive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetMotiveResponse" message="tns:IService1_SetMotive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetRole" message="tns:IService1_SetRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetRoleResponse" message="tns:IService1_SetRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyEmployee" message="tns:IService1_ModifyEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyEmployeeResponse" message="tns:IService1_ModifyEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyDevice" message="tns:IService1_ModifyDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyDeviceResponse" message="tns:IService1_ModifyDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyCustomer" message="tns:IService1_ModifyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyCustomerResponse" message="tns:IService1_ModifyCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAddressCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyAddressCustomer" message="tns:IService1_ModifyAddressCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyAddressCustomerResponse" message="tns:IService1_ModifyAddressCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyContactCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyContactCustomer" message="tns:IService1_ModifyContactCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyContactCustomerResponse" message="tns:IService1_ModifyContactCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyIntervention">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyIntervention" message="tns:IService1_ModifyIntervention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyInterventionResponse" message="tns:IService1_ModifyIntervention_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLocalization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyLocalization" message="tns:IService1_ModifyLocalization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyLocalizationResponse" message="tns:IService1_ModifyLocalization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyMotive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyMotive" message="tns:IService1_ModifyMotive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyMotiveResponse" message="tns:IService1_ModifyMotive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyRole" message="tns:IService1_ModifyRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyRoleResponse" message="tns:IService1_ModifyRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmploye">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmploye" message="tns:IService1_DeleteEmploye_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeResponse" message="tns:IService1_DeleteEmploye_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDevice" message="tns:IService1_DeleteDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDeviceResponse" message="tns:IService1_DeleteDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCustomer" message="tns:IService1_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCustomerResponse" message="tns:IService1_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAddressCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAddressCustomer" message="tns:IService1_DeleteAddressCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAddressCustomerResponse" message="tns:IService1_DeleteAddressCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContactCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteContactCustomer" message="tns:IService1_DeleteContactCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteContactCustomerResponse" message="tns:IService1_DeleteContactCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMotive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMotive" message="tns:IService1_DeleteMotive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMotiveResponse" message="tns:IService1_DeleteMotive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRole" message="tns:IService1_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRoleResponse" message="tns:IService1_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanning">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlanning" message="tns:IService1_GetPlanning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlanningResponse" message="tns:IService1_GetPlanning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAddressCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactsCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContactsCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterventions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInterventions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalizations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLocalizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotives">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMotives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNomEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevicesNoAffiliation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDevicesNoAffiliation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesActive">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeesActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesInactives">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeesInactives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAddressCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/SetAddressCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDevice">
      <soap:operation soapAction="http://tempuri.org/IService1/SetDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/SetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIntervention">
      <soap:operation soapAction="http://tempuri.org/IService1/SetIntervention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocalization">
      <soap:operation soapAction="http://tempuri.org/IService1/SetLocalization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMotive">
      <soap:operation soapAction="http://tempuri.org/IService1/SetMotive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRole">
      <soap:operation soapAction="http://tempuri.org/IService1/SetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDevice">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAddressCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyAddressCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyContactCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyContactCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyIntervention">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyIntervention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLocalization">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyLocalization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyMotive">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyMotive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyRole">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmploye">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmploye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDevice">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAddressCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAddressCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteContactCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMotive">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMotive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanning">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlanning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51596/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>